@import "../config"

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
	background-color: $accent
	
section
	padding-top: 150px
	padding-bottom: 100px
	position: relative

.container
	width: 1330px
	height: auto
	position: relative
	margin: 0 auto

.bg
	background: linear-gradient(145deg, #1e2024, #23272b)
	box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e
	border-radius: 6px