@import "../config"

.features_list
	display: flex
	flex-wrap: wrap
	gap: 20px 2%
	margin-top: 50px
	
	.tile
		text-align: left
		border-radius: 10px
		background: linear-gradient(145deg, #1e2024, #23272b)
		box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e
		position: relative
		width: 32%
		height: auto
		top: 0
		left: 0
		
		.strategy
			height: 100%
			position: relative
			z-index: 1
			padding: 35px 50px 70px
			
		svg
			color: #ff014f
			width: 50px
			height: 50px
			stroke-width: 1
			margin-bottom: 29px
			
		h4
			font-weight: 500
			font-size: 24px
			line-height: 32px
			margin-bottom: 20px
			color: #c4cfde
		
		.description
			line-height: 28px
			color: #c4cfde
		
		.material-symbols-outlined
			color: #ff014f
			font-size: 32px
			display: block
			position: absolute
			bottom: 15px
			left: 50px

		.over_link
			position: absolute
			height: 100%
			width: 100%
			top: 0
			left: 0
			z-index: 2